.top-row[b-zu5x4o0m1c] {
    width: 100%;
    height: var(--top-row-height);
}

.box-content[b-zu5x4o0m1c] {
    padding-top: 20px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.clock[b-zu5x4o0m1c] {
    font-size: 20pt;
    margin-left: 5px;
}

.states[b-zu5x4o0m1c] {
    font-size: 20pt;
    margin-right: 5px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
