/* /Shared/BottomBox.razor.rz.scp.css */
.bottom-box[b-dm6jnrpwb8] {
    height: var(--bottom-box-height);
}

.box-content[b-dm6jnrpwb8] {
    font-size: 30pt;
    padding-top: 20px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-d6hm8tqhhi] {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main[b-d6hm8tqhhi] {
    flex: 1;
    width: 100%;
    height: 100%;
}
/* /Shared/TopRow.razor.rz.scp.css */
.top-row[b-zu5x4o0m1c] {
    width: 100%;
    height: var(--top-row-height);
}

.box-content[b-zu5x4o0m1c] {
    padding-top: 20px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.clock[b-zu5x4o0m1c] {
    font-size: 20pt;
    margin-left: 5px;
}

.states[b-zu5x4o0m1c] {
    font-size: 20pt;
    margin-right: 5px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
/* /Shared/Weather.razor.rz.scp.css */
.weather-box[b-nnpecotffn] {
    height: 100%;

}

.box-content[b-nnpecotffn] {
    font-size: 30pt;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    padding: 15px;
}

.infos[b-nnpecotffn] {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.weather-icon[b-nnpecotffn] {
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
}

.icon[b-nnpecotffn] {
    height: 100%;
}
