@inherits LayoutComponentBase

<link href="css/default.css" rel="stylesheet" />
<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>