.weather-box {
    height: 100%;

}

.box-content {
    font-size: 30pt;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    padding: 15px;
}

.infos {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.weather-icon {
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: center;
}

.icon {
    height: 100%;
}