@inherits BottomBoxBase

<div class="frame-box bottom-box">
    <div class="top-bottom-frame">
        <img src="/images/Box_TL.png" class="corner" />
        <img src="/images/Box_T.png" class="stretch-line" />
        <img src="/images/Box_TR.png" class="corner" />
    </div>
    <div class="middle-frame">
        <img src="/images/Box_S.png" class="stretch-column" />
        <div class="frame-content box-content-bottom">
            <label>@MessageLine1</label>
            <label>@MessageLine2</label>
        </div>
        <img src="/images/Box_S.png" class="stretch-column" />
    </div>
    <div class="top-bottom-frame">
        <img src="/images/Box_BL.png" class="corner" />
        <img src="/images/Box_B.png" class="stretch-line" />
        <img src="/images/Box_BR.png" class="corner" />
    </div>
</div>